name: Tests

on:
  pull_request:
  push:
    branches:
    - master
    tags:
    - v.*

jobs:
  behave:
    runs-on: windows-latest
    env:
      DCS: etcd
      ETCDVERSION: 3.3.13
      PGVERSION: 15.0-1  # for windows and macos
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.10
    - name: Install dependencies
      run: python .github/workflows/install_deps.py
    - name: Run behave tests
      run: python .github/workflows/run_tests.py
    - name: Install coveralls
      run: python -m pip install coveralls
    - name: Upload Coverage
      env:
        COVERALLS_FLAG_NAME: behave-windows-etcd-3.10
        COVERALLS_PARALLEL: 'true'
        GITHUB_TOKEN: ${{ secrets.github_token }}
      run: python -m coveralls --service=github

  coveralls-finish:
    name: Finalize coveralls.io
    needs: [unit, behave]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-python@v2
    - run: python -m pip install coveralls
    - run: python -m coveralls --service=github --finish
      env:
        GITHUB_TOKEN: ${{ secrets.github_token }}
