name: Tests

on:
  pull_request:
  push:
    branches:
    - master

env:
  CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
  SECRETS_AVAILABLE: ${{ secrets.CODACY_PROJECT_TOKEN != '' }}

jobs:
  behave:
    runs-on: ${{ matrix.os }}-latest
    env:
      DCS: ${{ matrix.dcs }}
      ETCDVERSION: 3.4.23
      PGVERSION: 15.1-1  # for windows and macos
    strategy:
      fail-fast: false
      matrix:
        os: [windows]
        python-version: [3.7]
        dcs: [etcd3]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: python .github/workflows/install_deps.py

